@media (min-width: 300px) {
  .cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 20px;
  }
}

@media (min-width: 576px) {
  .cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 30px;
  }
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

@media (min-width: 300px) {
  .blc {
    font-size: 20px;
  }
}

@media (min-width: 576px) {
  .blc {
    font-size: 30px;
  }
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: bottom;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

/* * * ---------------------------------------- * animation slide-top * ----------------------------------------  */

.slide-top {
  -webkit-animation: slide-top 5.5s infinite alternate both;
  animation: slide-top 5.5s infinite alternate both;
}

.slide-top-2 {
  -webkit-animation: slide-top 2.5s infinite alternate both;
  animation: slide-top 2.5s infinite alternate both;
}

@keyframes slide-top-2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

