a:hover {
  color: #ffffff;
  text-decoration: none;
}

.dropdown-menu {
  /*position: absolute;*/
  /*top: 100%;*/
  /*left: 0;*/
  /*z-index: 1000;*/
  /*display: none;*/
  /*float: left;*/
  /*min-width: 10rem;*/
  /*padding: .5rem 0;*/
  /*margin: .125rem 0 0;*/
  /*font-size: 1rem;*/
  /*color: #212529;*/
  /*text-align: left;*/
  /*list-style: none;*/
  /*background-color: #fff;*/
  /*background-clip: padding-box;*/
  /*border: 1px solid #ffffff;*/
  /*border-radius: .25rem;*/
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(255,255,255,0.25);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(255,255,255,0.5);
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(255,255,255,0.5);
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(255,255,255,0.5);
}

.btn-primary {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #4c4f52;
}

